body{
    font-family: arial, sans-serif;
    background-color: hsl(206, 47%, 97%);
}
h1{
    color:hsl(0, 0%, 24%);
    font-size: 3em;
    text-align: center;
}
form{
    background-color: white;
    max-width: 350px;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px hsla(0, 0%, 0%, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;

}

label{
    font-size: 2em;
    font-weight: bold;
    
}
input{
    width: 50%;
    text-align: center;
    font-size: 2em;
    border: 2px solid whitesmoke;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 15px;
}
button{
    background-color: hsl(120, 100%, 40%);
    color: white;
    font-size: 1,5em;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
}
button:hover{
    background-color: hsl(120, 99%, 34%);;
}
#total{
    font-size: 2em;
}
#total-amount{
    color: hsl(120, 100%, 35%);
    font-weight: bold;
}