@import url('https://fonts.googleapis.com/css2?family=Genos:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background: linear-gradient( to right, #0061ff, #60efff);
    font-family: genos;
}

#form{
    width: 300px;
    margin: 20vh auto 0 auto;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 4px;
    font-size: 16px;
}
#form h1{
    color: rgb(42, 44, 44);
    text-align: center;
}
#form button{
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    color: white;
    background-color: rgb(167, 0, 136);
    border: none;
    border-radius: 4px;
}
.input-control{
    display: flex;
    flex-direction: column;
}
.input-control input{
    border: 2px solid #0f0f0f;
    border-radius: 4px;
    display: block;
    padding: 10px;
    width: 100%;
}
.input-control input:focus {
    outline: 0;
}
.input-control.success input{
    border-color: rgb(49, 217, 49);
}
.input-control.error input{
    border-color: rgb(206, 22, 22);
}
.input-control .error {
    color: rgb(191, 26, 26);
    font-size: 10px;
    height: 13px;
}