body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}
.calculator{
    background-color: #ababab;
    padding: 20px 20px;
    border-radius: 10px;
    /* height: 36vh; */
}
#display {
    width: 220px;
    height: 50px;
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-align: center;
    border: none;
    border-radius: 5px;
    padding: 10px;
    /* margin: 10px; */
    background-color: #eee;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4, 50px);
    gap: 10px;
    border-radius: 5px;
}
.buttons{
    height: 50px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    background: #555;
    color: white;
    cursor: pointer;
    padding: 4px;
    height: 34vh;
}

button:hover{
    background-color: #777;
}
#equal{
    grid-column: span 4;
    background-color: #ff9800;
}