body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: wheat;
}

h1{
    color: rgb(94, 180, 255);
}

form{
    background-color: white;
    text-align: center;
    max-width: 350px;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px black;
}

#textbox{
    width: 50%;
    text-align: center;
    font-size: 2em;
    border: 2px solid hsl(0, 0%, 0%, 0.8);
    border-radius: 4px;
    margin-bottom: 15px;
}

label{
    font-size: 1.5em;
    font-weight: bold;
}

button{
    margin-top: 15px;
    background-color: rgb(255, 62, 62);
    font-size: 1.5em;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: 0.25s ease-in-out;
}

button:hover{
    background-color: rgb(255, 0, 0);;
}

#result{
    font-size: 1.8em;
    font-weight: bold;
}